@CHARSET "UTF-8";
#main{
	width : 1000px;
	background : #DEDCDC;
}
.fixed-division{
	position : fixed;
	top : 0;
}
div#header{
	width : 1000px;
	margin-left : 170px;
	background : grey;
	overflow : auto;
}
#logo{
	display : inline-block;
	margin : 0px 0px 0px 0px;
	float : left;
	width : 300px;
	font-size : 300%;
	text-align : center;
	padding : 10px 20px 20px 20px;
	font-family: monospace;
	color : #A29D9D;
	color : orange;
}
#main_searchbar{
	margin : 0px 0px 0px 0px;
	flaot : right;
	display : inline-block;
	font-size : 150%;
}
#search_submit{
	flaot : right;
	display : inline-block;
}
.header_elements{
	height : 40px;
}
#search_box{
	width : 400px;
	height : 27px;
	border : 1px solid orange;
	border-radius : 10px;
}
#search_box1{
	width : 100px;
	height : 32px;
	border : 1px solid orange;
	border-radius : 10px;
}
#ask_box{
	flaot : right;
	display : inline-block;
}
#ask_button{
	width : 120px;
	height : 32px;
	border : 1px solid orange;
	border-radius : 10px;
}
#navigation{
	margin-top : -14px;
	width : 1050px;
	margin-left : 130px;
	background : #DEDCDC;
}
.nav_items{
	float : left;
	width : 200px;
	text-align : center;
	background : grey;
	height : 28px;
}
ul {
    list-style-type: none;
}
li{
	display : inline;
}
li a{
	display : block;
	padding : 5px;
}
li a:hover {
    background-color: orange;
    color : blcak;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
}
.dropdown-content a {
    color: black;
    padding: 6px 16px;
    width : 168px;
    display: block;
    text-align: center;
}
#dropdown:hover .dropdown-content {
    display: block;
}
.clear{
	clear : both;
}
#container{
	width : 100%;
	margin-left : 170px;
	margin-top : 107px;
}
#main-content{
	width : 68%;
	float : left;
	background : white;
	border : 2px solid white;
	border-radius : 15px;
}
#sidebar{
	width : 30%;
	float : right;
	background : white;
	height : 600px;
	border : 2px solid white;
	border-radius : 15px;
}
#footer{
	width : 100%;
	height : 72px;
	background : grey;
	margin-left : 170px;
	margin-top : 10px;
}
#content-header{
	margin : 10px;
	height : 40px;
	background : #CECECE;
	padding-top : 6px;
	border-radius : 10px;
	font-size: 120%;
}
#search-answer{
	width : 400px;
	margin-right : 0px;
	float : right;
}
.search-answer-inside{
	display : inline-block;
	margin-top : 8px;
	margin-right : 10px;
}
#search-answer-input{
	width : 300px;
	height : 20px;
	border : 1px solid orange;
	border-radius : 10px;
	margin-bottom : 4px;
}
#answer-search-submit{
	height : 24px;
	border-radius : 5px;
}
.main-content-element{
	padding-left : 10px;
	padding-right : 10px;
}
.question-desc{
	display : inline-block;
	width : 140px;
	text-align : center;
}
.question-inside{
	padding-left : 10px;
	padding-bottom : 5px;
}
.question{
	border : 1px solid grey;
	margin-bottom : 10px;
}

.display-question{
	background : #CECECE;
	border-radius : 10px;
	margin-bottom : 10px;
}
.display-answer{
	background : #CECECE;
	border-radius : 10px;
	margin-bottom : 10px;
}
.answered-user-data{
	float : left;
}
.user-image{
	height : 100px;
	width : 80px;
	margin-left : 10px;
	margin-top : 10px;
	border : 1px solid black;
}
.user-name{
	margin-left : 10px;
	margin-top : 10px;
	border : 1px solid black;
	text-align : center;
}
.answer-content{
	float : left;
	margin : 10px;
	width : 540px;
	overflow : hidden;
}
.answer-data{
	width : 500px;
	height : 21px;
}
.answer{
	margin-bottom : 20px;
	min-height: 82px;
}
.answer-rating, .answer-comments, .give-answer-rating{
	float : left;
	width : 30%;
}
.sidebar-element{
	padding-left : 10px;
	margin : 10px;
    min-height: 25px;
    background: #CECECE;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 10px;
    font-size: 100%;
}
a{
	text-decoration: none;
	color : black;
}
#post-answer{
	float : right;
	margin-right : 20px;
}
#no-answer{
	padding : 10px;
	min-height : 25px;
}
#duplicate-entry-form{
	float : right;
	margin-right : 10px;
	paddin-top : 5px;
}
#duplicate-form{
	padding-top : 5px;
	display : none;
}
.rating-display{
	float : left;
	width : 150px;
	height : 20px;
	text-align : center;
}
.give-answer-rating{
	width : 250px;
}
.submi-positive-rating{
	width : 70px;
	height : 20px;
	float : left;
	color : blue;
}
.submi-negative-rating{
	width : 70px;
	height : 20px;
	float : left;
}
#positive{
	width : 70px;
	margin-right : 0px;
	display: inline-block;
}
#negative{
	width : 100px;
	margin-right : 0px;
	display: inline-block;
}
#positive-rating{
	margin-right : 10px;
}
#negative-rating{
	margin-left : 10px;
}
.negative-value{
	height : 20px;
	width : 20px;
	background : none;
}
.positive-value{
	height : 20px;
	width : 20px;
	background : none;
}