@CHARSET "UTF-8";
#main{
	width : 1000px;
	background : #DEDCDC;
}
div#header{
	top : 0px;
	width : 1000px;
	position: fixed;
	margin-left : 170px;
	background : grey;
	overflow : auto;
}
#logo{
	display : inline-block;
	margin : 0px 0px 0px 0px;
	float : left;
	width : 300px;
	font-size : 300%;
	text-align : center;
	padding : 10px 20px 20px 20px;
	font-family: monospace;
	color : #A29D9D;
	color : orange;
}
#main_searchbar{
	margin : 0px 0px 0px 0px;
	flaot : right;
	display : inline-block;
	font-size : 150%;
}
#search_submit{
	flaot : right;
	display : inline-block;
}
.header_elements{
	height : 40px;
}
#search_box{
	width : 400px;
	height : 27px;
	border : 1px solid orange;
	border-radius : 10px;
}
#search_box1{
	width : 100px;
	height : 32px;
	border : 1px solid orange;
	border-radius : 10px;
}
#ask_box{
	flaot : right;
	display : inline-block;
}
#ask_button{
	width : 120px;
	height : 32px;
	border : 1px solid orange;
	border-radius : 10px;
}
#navigation{
	margin-top : 75px;
	width : 1050px;
	margin-left : 130px;
	background : orange;
}
.nav_items{
	float : left;
	width : 200px;
	text-align : center;
	background : grey;
	height : 28px;
}
ul {
    list-style-type: none;
}
li{
	display : inline;
}
li a{
	display : block;
	padding : 5px;
}
li a:hover {
    background-color: orange;
    color : blcak;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
}
.dropdown-content a {
    color: black;
    padding: 6px 16px;
    width : 168px;
    display: block;
    text-align: center;
}
#dropdown:hover .dropdown-content {
    display: block;
}
.clear{
	clear : both;
}
#container{
	width : 100%;
	margin-left : 170px;
	margin-top : 10px;
	background : white;
}
#main-content{
	width : 100%;
	float : left;
	border-radius : 15px;
}
#footer{
	width : 100%;
	height : 72px;
	background : grey;
	margin-left : 170px;
	margin-top : 10px;
	border-radius : 10px;
}
div.sub-container{
	margin-left : 200px;
	width : 600px;
	padding-bottom : 10px;
	border : 2px solid grey;
	border-radius : 10px;
	background  : #CECECE;
}
.signup-info{
	margin-bottom : 2px;
}
#submit-registration{
	width : 200px;
}
.signup-data-field{
	margin-left : 100px;
}
h4{
	margin-bottom : 20px;
	margin-top : 10px;
	padding-top : 10px;
	font-size : large;
}
.input-box{
	width : 400px;
	height : 30px;
}
#submit-registration{
	margin-top : 10px;
	margin-bottom : 10px;
	height : 30px;
}
.input-box{
	font-size : large;
}
#submit-register-form{
	margin-top : 10px;
}