@CHARSET "UTF-8";
#main{
	width : 1000px;
	background : #DEDCDC;
}
.fixed-division{
	position : fixed;
	top : 0;
}
div#header{
	width : 1000px;
	margin-left : 170px;
	background : grey;
	overflow : auto;
}
#logo{
	display : inline-block;
	margin : 0px 0px 0px 0px;
	float : left;
	width : 300px;
	font-size : 300%;
	text-align : center;
	padding : 10px 20px 20px 20px;
	font-family: monospace;
	color : #A29D9D;
	color : orange;
}
#main_searchbar{
	margin : 0px 0px 0px 0px;
	flaot : right;
	display : inline-block;
	font-size : 150%;
}
#search_submit{
	flaot : right;
	display : inline-block;
}
.header_elements{
	height : 40px;
}
#search_box{
	width : 400px;
	height : 27px;
	border : 1px solid orange;
	border-radius : 10px;
}
#search_box1{
	width : 100px;
	height : 32px;
	border : 1px solid orange;
	border-radius : 10px;
}
#ask_box{
	flaot : right;
	display : inline-block;
}
#ask_button{
	width : 120px;
	height : 32px;
	border : 1px solid orange;
	border-radius : 10px;
}
#navigation{
	margin-top : -14px;
	width : 1050px;
	margin-left : 130px;
	background : #DEDCDC;
}
.nav_items{
	float : left;
	width : 200px;
	text-align : center;
	background : grey;
	height : 28px;
}
ul {
    list-style-type: none;
}
li{
	display : inline;
}
li a{
	display : block;
	padding : 5px;
}
li a:hover {
    background-color: orange;
    color : blcak;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
}
.dropdown-content a {
    color: black;
    padding: 6px 16px;
    width : 168px;
    display: block;
    text-align: center;
}
#dropdown:hover .dropdown-content {
    display: block;
}
.clear{
	clear : both;
}
#container{
	width : 100%;
	margin-left : 170px;
	margin-top : 107px;
}
#main-content{
	width : 100%;
	float : left;
	border-radius : 15px;
}
#footer{
	width : 100%;
	height : 72px;
	background : grey;
	margin-left : 170px;
	margin-top : 10px;
}
#login-box{
	margin-left : 300px;
	margin-right : 300px;
	margin-top : 50px;
	margin-bottom : 50px;
	width : 400px;
	height : 300px;
	border : 1px solid orange;
	border-radius : 10px;
}
.login-fields{
	width : 100%;
	margin-left : 40px;
	height : 25%;
	margin-right : 20px;
}
#username,#password{
	height : 28px;
	width : 220px;
}
#submit, #signup{
	width : 90%;
	height : 36px;
	background : #808080;
	color : orange;
	font-weight: bolder;
}
h3{
	margin : 10px;
	display : inline-block;
}
#login-entry{
	margin-right : 20px;
}
h2{
	margin-right : 130px;
	border : 2px solid grey;
	border-radius : 5px;
	background : #808080;
	color : orange;
	text-align : center;
}
form{
	height : 100%;
}
a{
	text-decoration: none;
	color : black;
}
.g-signin2{
	width : 160px;
	height : 30px;
	display : inline-block;
	padding-left : 10px;
}
.submit-button{
	display: inline-block;
    width: 150px;
    height: 35px;
    padding-bottom: 20px;
    float: left;
}