@CHARSET "UTF-8";
#main{
	width : 1000px;
	background : #DEDCDC;
}
.fixed-division{
	position : fixed;
	top : 0;
}
div#header{
	width : 1000px;
	margin-left : 170px;
	background : grey;
	overflow : auto;
}
#logo{
	display : inline-block;
	margin : 0px 0px 0px 0px;
	float : left;
	width : 300px;
	font-size : 300%;
	text-align : center;
	padding : 10px 20px 20px 20px;
	font-family: monospace;
	color : #A29D9D;
	color : orange;
}
#main_searchbar{
	margin : 0px 0px 0px 0px;
	flaot : right;
	display : inline-block;
	font-size : 150%;
}
#search_submit{
	flaot : right;
	display : inline-block;
}
.header_elements{
	height : 40px;
}
#search_box{
	width : 400px;
	height : 27px;
	border : 1px solid orange;
	border-radius : 10px;
}
#search_box1{
	width : 100px;
	height : 32px;
	border : 1px solid orange;
	border-radius : 10px;
}
#ask_box{
	flaot : right;
	display : inline-block;
}
#ask_button{
	width : 120px;
	height : 32px;
	border : 1px solid orange;
	border-radius : 10px;
}
#navigation{
	margin-top : -14px;
	width : 1050px;
	margin-left : 130px;
	background : #DEDCDC;
}
.nav_items{
	float : left;
	width : 200px;
	text-align : center;
	background : grey;
	height : 28px;
}
ul {
    list-style-type: none;
}
li{
	display : inline;
}
li a{
	display : block;
	padding : 5px;
}
li a:hover {
    background-color: orange;
    color : blcak;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
}
.dropdown-content a {
    color: black;
    padding: 6px 16px;
    width : 168px;
    display: block;
    text-align: center;
}
#dropdown:hover .dropdown-content {
    display: block;
}
.clear{
	clear : both;
}
#container{
	width : 100%;
	margin-left : 170px;
	margin-top : 107px;
}
#main-content{
	width : 68%;
	float : left;
	background : white;
	border : 2px solid white;
	border-radius : 15px;
}
#sidebar{
	width : 30%;
	float : right;
	background : white;
	height : 600px;
	border : 2px solid white;
	border-radius : 15px;
}
.sidebar-element{
	padding-left : 10px;
	margin : 10px;
    min-height: 25px;
    background: #CECECE;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 10px;
    font-size: 100%;
}
#footer{
	width : 100%;
	height : 72px;
	background : grey;
	margin-left : 170px;
	margin-top : 10px;
}
#content-header{
	height : 25px;
	padding-top : 6px;
}
.main-content-element{
	padding-left : 10px;
	padding-right : 10px;
	background : #CECECE;
	margin : 10px;
	border-radius : 10px;
}
.inside-element{
	padding-top :10px;
}
#question-heading{
	margin-top: 10px;
	margin-bottom : 0px;
}
#question-owner{
	padding-bottom : 10px;
}
#answer-heading{
	margin-top: 10px;
	margin-bottom : 10px;
}
#answer-entry{
	margin-bottom : 10px;
	width : 638px;
	height : 100px;
	resize : none;
}
#answer-submit{
	width : 150px;
	height : 30px;
	margin : 5px;
}
a{
	text-decoration: none;
	color : black;
}
#post-answer{
	float : right;
	margin-right : 20px;
}